/* Paleta suave com fundo claro e texto escuro */
:root {
    --cor-fundo: #fff8f0;
    --cor-cabecalho: #8b5e3c;
    --cor-rodape:#654321;

}

body {
    margin: 0;
    font-family: 'Segeo UI', sans-serif;
    background-color: var(--cor-fundo);
    color; var(--cor-texto)
}